`<div class="balloon_container">
    <div class="header">
        <div id="closeBalloon" class="header_closeBalloon fa fa-times"> </div>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <div id="address" class="header_address">{{ address }}</div></br>
        </div>
    </br><div id="reviews" class="reviews" data-content=0></div></br>
    <div class="form">
        <p class="form_title">ВАШ ОТЗЫВ</p>
        <input type="text" class="form_field" id="name" placeholder="Ваше имя" required>
        <input type="text" class="form_field" id="place" placeholder="Укажите место" required>
        <textarea class="form_field" id="comment" rows="5" placeholder="Поделитесь впечатлениями" required></textarea>
        <input type="submit" id="submit" class="button submit">
        </div>
    </div>`
